<!DOCTYPE html>
<!-- Created with Jinja3 -->
<html>
<head>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🔀</text></svg>">
    <title>Success! Your redirect was created at {{ path }}</title>
</head>
<body>
    <div style="align-text: center; display: block; columns: 1">
        <div id="content" style="display:grid; justify-content: center; margin:auto; text-align: center">
            <p>Success! Your redirect was created at {{ path }}</p>
            <form>
             <input type="button" value="Return" onclick="history.back()">
            </form>
        </div>

    </div>
</body>
</html>